// @import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed')
// $font: 'Saira Semi Condensed', sans-serif
// $font-color: #ffffff
// $background: #39393B
// $transition: .6s
// $font-size: 5vw
//
// @mixin center
//   position: absolute
//   top: 50%
//   left: 50%
//   transform: translate(-50%, -50%)
//
// body
//   background: $background
//   font-family: $font
//
// .main-container
//   +center
//   color: $font-color
//
// .first-container, .second-container
//   cursor: pointer
//   position: relative
//
//   h1
//     position: relative
//     letter-spacing: 2px
//     font-size: $font-size
//
// .first-container
//   margin-bottom: 15px
//
// span
//   display: inline-block
//   position: relative
//   margin-right: 5px
//   &:after
//     content: ''
//     position: absolute
//     height: 100%
//     width: 0
//     top: 0
//     left: 0
//     transition: $transition
//     z-index: -5
//
// @for $i from 1 through 10
//   .share:hover > h1 > span:nth-child(#{$i}):after
//     $delay: 100 * $i
//     $random: ($i * 5) - 30
//     background: white
//     width: 100%
//     transition: $transition
//     transition-delay: $delay + ms
//     transform: rotate($random + deg)
//   .share:hover > h1 > span:nth-child(#{$i})
//     $delayTwo: 110 * $i
//     color: $background
//     transition-delay: $delayTwo + ms
/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

////////////////////////////
// DEMO CODE
///////////////////////////
body {
  background-color: #1a1a1a;
  color: #fefefe;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.txt {
  display: block;
}

a {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #eee;
  font-size: 15px;
  line-height: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
